<div class="card" (click)="onClickProductCard(product)">
  <div class="card-image">
    <img [src]="product.imageUrl" alt="{{product.cultivar}}-alt" height="358" width="250" class="card-image-img">
  </div>
  <div class="card-isNew-row">
    <span class="card-isNew" *ngIf="(new || soldout) && (product.isSoldout || product.isNew)">
      {{ (soldout && product.isSoldout) ? 'Epuizat'
        : new ? 'Nou' : '' }}
    </span>
  </div>
  <div class="card-info">
    <div>
      {{ getName() }} <span class="card-title">{{ product.cultivar }}</span>
    </div>
    <div class="card-price">
      {{product.price}} lei
    </div>
  </div>
</div>
