<div class="container-fluid container">
  <h3>Pizza list</h3>
  order processor service<br />
  two way binding parent child component<br />
  form group builder<br />

  <div class="grid-header">
    <button id="addPizza" class="grid-header-add" mat-stroked-button (click)="onClickAdd()">
      <i class="material-icons grid-header-add-icon">add_circle_outline</i>
      <span class="grid-header-add-text">Add</span>
    </button>
  </div>

  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="id-header"> ID </mat-header-cell>
      <mat-cell *matCellDef="let element" class="id-cell"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="name-link" (click)="onClickEdit(element.id)">{{element.name}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="crustSize">
      <mat-header-cell *matHeaderCellDef> Crust Size </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.crustSize}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="crustType">
      <mat-header-cell *matHeaderCellDef> Crust Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.crustType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="toppings">
      <mat-header-cell *matHeaderCellDef> Toppings </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.toppings}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="actions-header"> </mat-header-cell>
      <mat-cell *matCellDef="let element" class="actions-cell">
        <span class="row-delete" (click)="onClickAddToCart(element.id)">
          <i class="material-icons grid-header-add-icon">add_circle_outline</i>
        </span>
        <span class="row-delete" (click)="onClickDelete(element.id)">
          <i class="material-icons grid-header-add-icon">delete</i>
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
