<div class="container-fluid container">
  <div class="row">
    <h3>Product edit</h3>
  </div>

  <div [formGroup]="formGroup" (ngSubmit)="onClickSave()">
    <div class="row">
      <div class="col-md-4">
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="crustSize">Crust Size: </label>
        <input id="crustSize" type="text" formControlName="crustSize">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="crustType">Crust Type: </label>
        <input id="crustType" type="text" formControlName="crustType">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="toppings">Toppings: </label>
        <input id="toppings" type="text" formControlName="toppings">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <button type="button" (click)="onClickSave()">Save</button>
    </div>
  </div>
</div>
