<div class="container-fluid container">
  <br />
  <h3>Products list</h3>

  <div class="grid-header">
    <button id="addPizza" class="grid-header-add" mat-stroked-button (click)="onClickAdd()">
      <i class="material-icons grid-header-add-icon">add_circle_outline</i>
      <span class="grid-header-add-text">Add</span>
    </button>
  </div>

  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="id-header"> ID </mat-header-cell>
      <mat-cell *matCellDef="let element" class="id-cell"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="typeName">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.typeName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="speciesName">
      <mat-header-cell *matHeaderCellDef> Species </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.speciesName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cultivar">
      <mat-header-cell *matHeaderCellDef> Cultivar </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="name-link" (click)="onClickEdit(element.id)">{{element.cultivar}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef> Priority </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.priority}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="actions-header"> </mat-header-cell>
      <mat-cell *matCellDef="let element" class="actions-cell">
        <span class="row-delete" (click)="onClickAddToCart(element.id)">
          <i class="material-icons grid-header-add-icon">add_circle_outline</i>
        </span>
        <span class="row-delete" (click)="onClickDelete(element.id)">
          <i class="material-icons grid-header-add-icon">delete</i>
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <br />
</div>
