@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "@coreui/coreui/scss/coreui";
@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
  font-family: Shikamaru;
  src: url(assets/fonts/Shikamaru.otf) format("opentype");
}

.body {
  margin: 0;
}

